.BaseButton {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 5px;
  background-color: #17191c;
  border: 1px solid transparent;
}

.BaseButton:hover {
  cursor: pointer;
  border: 1px solid rgb(64, 64, 64);
  background-color: #1d1f21;
}
