.StatisticsCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Header {
  font-size: 22px;
  font-weight: bolder;
  text-transform: uppercase;
}

.Value {
  font-size: 32px;
  font-weight: bold;
}
